@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

:root {
  --lightGreen: #7f7;
  --darkGreen: green;
  --dark: #333;
  --defBorder: 2px solid var(--darkGreen);
  --boldBorder: 6px solid var(--darkGreen);
}

* {
  /* font-family: "SUSE", sans-serif; */
  font-family: "Consola", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input,
button {
  padding: 0.2rem 0.5rem;
}

.btn {
  color: var(--lightGreen);
  background-color: var(--darkGreen);
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}

.inputForm {
  button {
    width: 40%;
    border: none;
    border-radius: 0;
  }
  input {
    width: 60%;
    color: var(--lightGreen);
    background-color: var(--dark);
    border: none;
    padding-left: 0.5rem;
  }
}
